# Environments
.env
.venv/
venv/
ENV/
env/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Pytest and coverage
.pytest_cache/
.coverage
htmlcov/
.noserc
nosetests.xml
coverage.xml
*.cover
*.py,cover

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject
.settings/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db

# Invoices and returns directories
static/invoices/
static/returns/
